/* for the lazy */

/* *,
*::before,
*::after {

} */

.switchInput,
.switchDiv,
.switchLabel,
.switchInput::before,
.switchDiv::before,
.switchLabel::before,
.switchInput::after,
.switchDiv::after,
.switchLabel::after {
  transition: 400ms all ease-in-out 50ms;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.switchInput {
  display: none;
}

/*Button is :CHECKED*/

.switchInput:checked ~ div {
  background: #e75b41;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.15);
}

.switchInput:checked ~ div label {
  left: 83px;
  transform: rotate(360deg);
}

/*shared*/

.switchDiv {
  border-radius: 5px;
}

.switchLabel {
  border-radius: 30px;
}

/*'un':checked state*/

.switchDiv {
  height: 44px;
  width: 120px;
  background: #95a5a6;
  position: relative;
  box-shadow: 0 0 2px #95a5a6;
}

.switchLabel {
  height: 30px;
  width: 30px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7px;
  left: 11px;
  cursor: pointer;
}

.switchLabel::before {
  content: '';
  height: 25px;
  width: 5px;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 2.5px);
  transform: rotate(45deg);
}

.switchLabel::after {
  content: '';
  height: 5px;
  width: 25px;
  position: absolute;
  top: calc(50% - 2.5px);
  left: calc(50% - 12px);
  transform: rotate(45deg);
}

.switchLabel::before,
.switchLabel::after {
  background: #95a5a6;
  border-radius: 5px;
}

/* pesduo class on toggle */

.switchInput:checked ~ div label::before {
  height: 20px;
  top: calc(55% - 12px);
  left: calc(60% - 2.5px);
  background: #e75b41;
}
.switchInput:checked ~ div label::after {
  width: 12px;
  top: calc(95% - 13px);
  left: calc(22.5% - 2.5px);
  background: #e75b41;
}
